<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre 📀</title>
</head>

<body>
    <header>
        <div>
            <a href="#"><img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
            <input type="Buscar" placeholder="Buscar productos, marcas">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprár en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>Creá tu cuenta <i class="fa-regular fa-id-card"></i></li>
                <li>Ingresá <i class="fa-solid fa-right-to-bracket"></i></li>
                <li>Mis compras <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <button class="boton-bar"><i class="fa-solid fa-bars"></i></button>
    </header>



    <main>
        <section>
            <img src="/img/img-home-banner.jpg" alt="img-home-banner">
        </section>
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
        <main>
            <section>
                <h2 class="titulares">Sección de Ofertas</h2>
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </article>
                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h3>MacBook Pro 2019</h3>
                </article>
                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h3>Samsung Galaxy S10</h3>
                </article>
                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h3>SmartTv Samsung 43"</h3>
                </article>
            </section>
        </main>
        <footer>
            <nav>
                <ul type="none">
                    <li class="text-footer">
                        <i class="fa-solid fa-credit-card icon-footer"></i>
                        <h3>Pagá con tarjeta o en efectivo</h3>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                            ¡Y siempre es seguro!</p>
                    </li>
                    <li class="text-footer">
                        <i class="fa-solid fa-gift icon-footer"></i>
                        <h3>Envío gratis desde $ 2.500</h3>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                            beneficio de Mercado Puntos.</p>
                    </li>
                    <li class="text-footer">
                        <i class="fa-solid fa-user-shield icon-footer"></i>
                        <h3>Seguridad, de principio a fin</h3>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                            siempre protegid@.</p>
                    </li>
                    <li>
                        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
                    </li>
                </ul>
            </nav>
        </footer>
</body>

</html>