* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

html {
    background-color: #ebebeb;
}

/* - - - - - - - - - - - - - Header - - - - - - - - - - - - -*/
header{
    background-color: #EAC926;
    padding: 20px;
}
.site{
    display: none;
}
.logo{
    width: 150px;
}
header div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.main-top-2{
    width: 45%
}
header div input{
    width: 30%;
}
.boton-bar{
    display: block;
    margin: auto;
    background-color: #03264C;
    border: 0px;
    border-radius: 5px;
    padding: 3px 7px;
}
.fa-bars{
    color: #ebebeb;
}
.main-text{
    text-align: center;
    width: 100%;
}
.main-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.boton-bar i{
    display: block;
}
/* - - - - - - - - - - - - -Main - - - - - - - - - - - - -*/
.titulares {
    font-size: 24px;
}

.descuentos {
    font-size: 16px;
}

.precios {
    font-size: 18px;
}

main {
    width: 90%;
    margin: auto;
}

section article {
    margin: 10px;
    background-color: white;
}

.descrip {
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

img {
    width: 100%;
}

.fa-truck,
.descuentos {
    color: #39b54a;
}

h3 {
    color: #666;
}

.titus {
    background-color: #ebebeb;
    margin: 20px 0;
}

.icon-footer {
    color: #1259c3;
}

.text-footer h3 {
    font-size: 24px;
}

/* - - - - - - - - - - - - -footer - - - - - - - - - - - - -*/
footer p,
footer h3 {
    text-align: center;
}

footer ul {
    padding: 0;
}

.icon-footer {
    font-size: 2em;
    display: block;
}

.text-footer div {
    width: fit-content;
    margin: auto;
}

@media (min-width: 361px) {

    
    /* - - - - - - - - - - - - - MAIN - - - - - - - - - - - - -*/
    main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px) {
    /* - - - - - - - - - - - - - Header - - - - - - - - - - - - -*/
    .div-main , .site{
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        border: #1259c3 dashed 4px;
        margin: auto;
    }
    .boton-bar{
        display: none;
    }
    .site{
        display: flex;
        justify-content: space-between;
    }
    .site1 , .site2{
        display: flex;
    }
    .site1 li, .site2 li{
        display: flex;
        padding: 0px 5px;
    }
    .main-text, .main-top{
        width: 50%;
    }
}